@model Bug_Tracker_project.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Assign Role","AssignRole","Admin")
@*@if (Model.Users.Count==0)
{
    <p>There are no users to assign a roles</p>
}
else
{*@
  @*<table>
      <thead>
          <tr>
              <th>User Name</th>
              <th>Role Name</th>
          </tr>
      </thead>
      <tbody>          
              @foreach(var user in Model.Users)
              {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.</td>
                </tr>
              }          
      </tbody>
  </table>

}*@

